{% extends 'layout.html.twig' %}

{% block title %}Informations{% endblock %}

{% block titlepage %}Informations{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('images/romain.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">Romain</h5>
                        </div>
                        <br>
                        <div>
                            <p class="card-text">Développeur/Intégrateur web junior<br>Poulpe Animateur</p>
                        </div>
                        <br>
                        <div>
                            <p><a target="_blank" href="https://www.facebook.com/stutromain"><i class="fab fa-facebook-f"></i> Facebook </a></p>
                            <p><a target="_blank" href="https://www.linkedin.com/in/romain-stut-61b31b155/"><i class="fab fa-linkedin"></i> linkedin </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('images/stephane.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">Stephane</h5>
                        </div>
                        <br>
                        <div>
                            <p class="card-text">Développeur/Intégrateur web junior<br>Poulpe Graphiste</p>
                        </div>
                        <br>
                        <div>
                            <p><a target="_blank" href="https://www.facebook.com/blackiguane"><i class="fab fa-facebook-f"></i> Facebook </a></p>
                            <p><a target="_blank" href="https://www.linkedin.com/in/alpha-steph-b35341137/"><i class="fab fa-linkedin"></i> linkedin </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('images/eric.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">Eric</h5>
                        </div>
                        <br>
                        <div>
                            <p class="card-text">Développeur/Intégrateur web junior<br>Poulpe multi-tâches</p>
                        </div>
                        <br>
                        <div>
                            <p><a target="_blank" href="https://www.facebook.com/efristel"><i class="fab fa-facebook-f"></i> Facebook </a></p>
                            <p><a target="_blank" href="https://www.linkedin.com/in/eric-fristel-5824b9162/"><i class="fab fa-linkedin"></i> linkedin </a></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card" style="width: 18rem; height: 492px;">
                    <img class="card-img-top" src="{{ asset('images/simon.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">Simon</h5>
                        </div>
                        <br>
                        <div>
                            <p class="card-text">Développeur/Intégrateur web junior<br>Cerveau poulpe</p>
                        </div>
                        <br>
                        <div>
                            <p><a target="_blank" href="https://www.facebook.com/simon.amade.3"><i class="fab fa-facebook-f"></i> Facebook </a></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('images/david.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">David</h5>
                        </div>
                        <br>
                        <div>
                            <p class="card-text">Développeur/Intégrateur web junior<br>Papa poulpe</p>
                        </div>
                        <br>
                        <div>
                            <p><a target="_blank" href="https://www.facebook.com/kaska6591"><i class="fab fa-facebook-f"></i> Facebook </a></p>
                            <p><a target="_blank" href="https://www.linkedin.com/in/david-ba-980784a2/"><i class="fab fa-linkedin"></i> linkedin </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}