{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block titlepage %}Connexion{% endblock%}

{% block content %}
    <div class="container">
        <div class="col-6">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if error %}
                <div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-6 bg-secondary text-warning p-3">
                {# le formulaire de login #}
                <form action="{{ path('login') }}" method="post" class="login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-warning text-dark">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
