{% extends 'layout.html.twig' %}

{% block title %}Retroc{% endblock %}

{% block content %}

    <div class="container p-2" >
        <h1 class="text-center">Informations </h1>
        <p style="font-size: 1.2rem; color:;">Bonjour et bienvenue sur <strong>Octocote!</strong> Qui sommes-nous? Que proposons-nous?

            Nous proposons de regrouper des <i>passionnés de plusieurs domaines</i>  étroitement liés,
            pour leur proposer une plate-forme communautaire d'échange et de vente de leurs objets de collection et de loisir.
            Que ce soit de la mise en ligne à la recherche de produit, notre site se veut simple d'accès et d'utilisation. <br></p>
    </div>


    <div class="container">

        {% if message %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
        {% endif %}


        <h1><b>Dernières annonces</b></h1>
        <div class="row">

            {% for product in products %}
                    <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 400px;">
                            <a href="{{ path('product', {id: product.id})}}" style="color:#1A3E58"><div class="card-body">
                            {% if product.image%}
                            <div style="height: 243px;">
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}"alt="Card image cap">
                            </div>                                   
                            {% endif %}
                        <div style="position: relative;">
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">{{ product.name|length > 23? product.name|slice(0, 23) ~ '...' :product.name  }}</h5><hr>
                        </div>
                            <p class="card-text" style="color: white; font-size: 1.5rem">{{ product.price }} €</p>
                        </div>                     
                    </div></a> 
                {% endif %}
            {% endfor %}
            <a href="{{ path('showAll') }}" class="col-md-12 btn-md navbarColor01 text-warning">Voir toutes les annonces</a>
        </div>
    </div>
    <div class="container mt-5">
        <h1><b>Derniers articles du blog Octocote</b></h1>
        <div class="row">

            {% for blog in blogs %}

                <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 400px;">
                        <a href="{{ path('article-blog', {id: blog.id })}}" style="color:#1A3E58"><div class="card-body">
                        {% if blog.image%}
                        <div style="height: 243px;">
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ blog.image) }}" alt="Card image cap">
                        </div> 
                        {% endif %}
                    <div style="position: relative;">
                        <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">{{ blog.title }}</h5><hr>
                    </div>
                        <p class="card-text" style="color: white; font-size: 1rem">{{ blog.content  | striptags | slice(0, 50) }} ... </p>


                        
                    </div>
                </div></a>


            {% endfor %}
            <a href="{{ path('show-all') }}" class="col-md-12 btn-md navbarColor01 text-warning">Voir tous les articles</a>
        </div>
    </div>

{% endblock %}
