{% extends 'layout.html.twig' %}

{% block title %}Retroc{% endblock %}

{% block content %}



    <div class="container">

        {% if message %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
        {% endif %}


        <h1><b>Dernières annonces</b></h1>
        <div class="row">

            {% for product in products %}
                {% if product.isvalidate == 1 %}
                    <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 400px;">
                        <div class="card-body">
                            {% if product.image%}
                            <div style="height: 243px;">
                                <a href="{{ path('product', {id: product.id})}}"><img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}"alt="Card image cap"></a> 
                            </div>                                   
                            {% endif %}
                        <div style="position: relative;">
                            <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">{{ product.name }}</h5><hr>
                        </div>
                            <p class="card-text" style="color: white; font-size: 1.5rem">{{ product.price }} €</p>
                        </div>                     
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{{ path('showAll') }}" class="col-md-12 btn-md navbarColor01 text-warning">Voir toutes les annonces</a>
        </div>
    </div>
    <div class="container mt-5">
        <h1><b>Derniers articles du blog Octocote</b></h1>
        <div class="row">

            {% for blog in blogs %}

                <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 400px;">
                    <div class="card-body">
                        {% if blog.image%}
                        <div style="height: 243px;">
                                <a href="{{ path('article-blog', {id: blog.id })}}"><img class="card-img-top" src="{{ asset('uploads/images/' ~ blog.image) }}" alt="Card image cap"></a>
                        </div> 
                        {% endif %}
                    <div style="position: relative;">
                        <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute">{{ blog.title }}</h5><hr>
                    </div>
                        <p class="card-text" style="color: white; font-size: 1rem">{{ blog.content  | striptags | slice(0, 50) }} </p>


                        
                    </div>
                </div>


            {% endfor %}
            <a href="{{ path('show-all') }}" class="col-md-12 btn-md navbarColor01 text-warning">Voir tous les articles</a>
        </div>
    </div>

{% endblock %}
