<h3 class="font-weight-bold">Mes Messages </h3>

{% for key, message in messages %}


    <div class="messageUser formStyle mt-5 p-3 col-md-8 offset-2" >

        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="text-warning col-md-12">Annonce:</h4>
            </div>
            <div class="col-md-9">
                <p style="font-size: 1.2rem;color: white;">{{message.title}}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="text-warning col-md-12">Message de:</h4>
            </div>
            <div class="col-md-9">
                <p class="col-md-6 offset-2" style="font-size: 1.2rem;color: white;"> {{message.expediteur.username}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-warning col-md-12">Message : </h4>
            </div>
            <div class="col-md-12">
                <p class="col-md-12" style="font-size: 1.2rem;color: white;"> {{message.content}} </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="replyMsg col-sm-6" id="message-{{ message.id }}">
                <button class="btn text-dark btn-sm reply mt-2"  value="{{ message.id }}" style="margin-left: 10px;"><b>Répondre</b></button>
            </div>
            <div class=" col-sm-6">
                <button  value="{{ message.id }}" class="delete-msg btn text-dark btn-sm mt-2"><b>Supprimer</b></button>
            </div>
        </div>

    </div>
{% endfor %}

<script>

    {#Ajax pour répondre aux messages#}
    $('body').on('click', '.reply', function(e){
        //console.log($('#message-' + $(this).val()));
        e.preventDefault();
        var messageId = $(this).val();
        $('#message-' + $(this).val()).empty();
        $('#message-' + $(this).val()).append('<form method="post">'+'<input id="message" class="form-control" type="textarea">'+'<input hidden class="pdt-id" value="' + messageId + '">'+'<button class="btn btn-sm navbarColor01 text-warning mt-4" id="send-reply" value="' + messageId + '">Envoyer réponse</button>'+'</form>')

    })

    $('body').on('click', '#send-reply', function(e){
        e.preventDefault();

        var data = "message=" + $('#message').val();
        var url = " {{path('reply-user-message' , {id : 0})}} ",
            url = url.replace('0', $('.pdt-id').val() )
        //console.log(data)
        var $div = $(this).closest('div');
        console.log( $(this).val());
        $.ajax({
            type: 'POST',
            url: url,
            timeout: 3000,
            data: data,
            dataType: 'html',
            success: function(data){
                console.log($div);
                if(data != null){
                    $div.empty();
                    $div.append(data);
                }
            },
            error: function(error){
                console.log(error.responseText);
            }
        })

    })
</script>