<h3 class="col-md-12 font-weight-bold">Mes Annonces </h3>


<div class="col-md-11 offset-1">
    <div class="row ">
        {% for product in products %}


            <div class="col-md-6 my-5 annonceUser">
                <div class="card formStyle mb-3" >
                    <div class="card-header">
                        <div class="row">
                            <h3 class="col-md-12 text-warning">{{product.name}}</h3>
                            <h3 class="card-text col-md-12 " style="color: white">{{product.price}} € </h3>
                            {% if product.isvalidate == true %}
                                <h3 class="card-text col-md-12 " style="color: lightgreen">Validé</h3>
                            {% else %}
                                <h3 class="card-text col-md-12 " style="color: white">En cours de validation</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-md-4" >
                                {% if product.image %}
                                    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " class="card-img-top text-center" style="max-width: 350px;" type="button" data-toggle="modal" data-target="#modalImage" class="btn btn-dark zoomin">
                                {% else %}
                                    <img src="{{ asset('images/produit.jpg' ) }}" alt="  "class="img-thumbnail">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="row  bot-border">
                                    <p class="col-12"><b class="text-warning">Qualité : </b>
                                        {% if product.quality.name == "mib" %}
                                            <img width="100" src="{{ asset('images/lb1.svg') }}">
                                        {% elseif product.quality.name == "occase" %}
                                            <img width="100" src="{{ asset('images/lb2.svg') }}">
                                        {% else %}
                                            <img width="100" src="{{ asset('images/lb3.svg') }}">
                                        {% endif %}
                                    </p>
                                    <p class="col-12" style="color: white"><b class="text-warning">Vendeur: </b> {{ product.user.username }}</p>
                                    <p class="col-12"><b class="text-warning">Description: </b></p>
                                    <p class="col-12" style="color: white; overflow:auto; color: white; font-size: 1rem">{{product.description| striptags | slice(0, 18)}}...</p>

                                </div>
                            </div>
                        </div>
                        <a href="{{ path('update-product', {id:product.id}) }}">
                            <button class="btn btn-sm btn-light">Modifier</button>
                        </a>

                        <button class="btn btn-sm btn-light delete-pdt" value="{{ product.id }}">Supprimer</button>
                        


                    </div>
                </div>
            </div>




        {% endfor %}
    </div>
</div>