<h3 class="col-md-12 font-weight-bold">Mes Annonces </h3>
<div class="row d-flex justify-content-around">



    {% for product in products %}

        <div class="annonceUser mb-3 bg-secondary col-5 mr-5 mt-3 p-3" style="border:3px double #1A3E58; padding:3px; -moz-border-radius:10px 0;-webkit-border-radius:10px 0;border-radius:10px 0;">
            <div class="row">
                <div class="col-7 ">
                    <div class="row">
                        <h4 class="col-4 text-warning" ><b>Nom</b> :</h4>
                        <p class="col-8 text-warning" style="font-size: 1.5rem"> {{product.name}} </p>
                        <h4 class="col-6 text-warning" ><b>Catégorie</b> :</h4>
                        <p class="col-6 text-warning" style="font-size: 1.5rem">  {{product.categorie.name}}
                        <h4 class="col-4 text-warning" ><b>Prix</b> :</h4>
                        <p class="col-8 text-warning" style="font-size: 1.5rem"> {{product.price}} € </p>
                    </div>
                </div>
                <div class="col-5">
                    {% if product.image %}
                        <img src="{{ 'uploads/images/' ~ product.image }}" class="img-thumbnail" alt="photo_produit">
                    {% else %}
                        <img src="{{ asset('images/produit.jpg' ) }}" alt="  "class="img-thumbnail">
                    {% endif %}
                    {#<img src="{{ 'uploads/images/' ~ product.image }}" alt="..." class="img-thumbnail">#}
                </div>
            </div>
            <a href="{{ path('update-product', {id:product.id}) }}">

                <button class="btn btn-warning btn-sm text-dark">Modifier</button>

            </a>
            <a href="{{ path('product-delete', {id:product.id}) }}">

                <button class="btn btn-warning btn-sm text-dark">Supprimer</button>

            </a>
        </div>


    {% endfor %}
</div>