{% extends 'layout.html.twig' %}
{% block title %} Liste Des articles {% endblock%}

{% block content %}

    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
        <h1 class="text-center">Liste des articles</h1>
        <div class="row justify-content-center">
            <a href="{{ path('add-article-blog') }}" class="btn navbarColor01 text-warning mb-3 mb-1 col-md-3">Ajouter un article</a>
        </div>
        {% endif %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4 col-4">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
   
        <div class="row" style="margin-left: 8px;">

            {% for blog in blogs %}

                <div class="card col-md-3 mb-3 listStyle antipadding" style="position: relative; height: 600px;">

                    <div class="card-body p-1">
                        {% if blog.image%}
                        <div style="height: 275px;">
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ blog.image) }}" alt="Card image cap">
                        </div>
                        {% endif %}
                    <div style="position: relative">
                        <h5 class="card-title text-warning" style="color: #AC964A; position: absolute;">{{ blog.title }}</h5><hr>
                    </div>
                    
                        <p class="card-text" style="overflow:auto; color: white; font-size: 1rem">{{ blog.content  | striptags | slice(0, 250) }}..... </p>
                    

                    </div>
                        <a href="{{ path('article-blog', {id: blog.id })}}" class="navbarColor01 btn text-warning col-12" style="position: absolute; bottom: 0;">Voir la suite</a>
                    
                    </div>    
            {% endfor %}
        </div>
    </div>





{% endblock %}