{% extends 'layout.html.twig' %}
{% block title %} Liste utilisateurs {% endblock%}
{% block titlepage %}{% endblock%}

{% block content %}

    <div class="container">
            <h1 class="text-center" style="color: #1A3E58 "> Liste utilisateurs </h1>
        <div class="row">

            

            {% for user in users %}

                <div class="card col-md-4 mb-4 listStyle antipadding" style="position: relative; height: 600px;">
                    <div class="card-body">
                        {% if user.profilepicture%}
                        <div style="height: 243px;">
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~  user.profilepicture) }}" alt="Card image cap">
                        </div>
                        {% endif %}
                <div style="margin-top: 150px;">
                    <div>
                        <h5 class="card-title text-warning" style="color: #AC964A; position: absolute">{{ user.username }}</h5>
                    </div><hr>
                        <p class="card-text" style="overflow:auto; color: white; font-size: 1rem">{{ user.email }}</p>


                        <a href="{{ path('update-user', {id: user.id })}}">Modifier le compte <i class="fas fa-cogs" style="color:#ffc107;"></i></a>
                        <hr>
                        <a href="{{ path('delete-user', {id: user.id })}}">Supprimer le compte <i class="fas fa-times" style="color:#ffc107;"></i></a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}