{% extends 'layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/add-product.css') }}">
{% endblock %}

{% block title %}Ajout produit{% endblock%}

{% block titlepage %}<h1 class="addproduct">Ajouter une annonce</h1>{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5 d-flex justify-content-center">
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
        <div class="col-7">
            <div class="row">
                <div class=" col-12">
                    <h2>Sélectionner le produit correspondant : </h2>
                </div>
                <div class="col-12 search">

                </div>
            </div>
        </div>
        <div class="cote"></div>

    </div>
</div>
{%  endblock %}

{% block js %}
    <script>
        $(function(){

            $('body').on('change', 'input#product_name', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: " {{ path('ajax-search-by-title') }} ",
                    timeout: 3000,
                    data: "title=" + $(this).val(),
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        $('.search').empty();
                        if(data.status === "ok"){
                            $.each(data.products, function(i, product){
                                $('.search').append('<div id="cote-res" class="row mb-3"><img width="50" height="50" src="'+ product.img +'"><p class="title-result">' + product.name  + '</p></div>')
                            })
                        } else {
                            $('.search').append(data.erreur)
                        }

                    },
                    error: function(error){
                        console.log(error.responseText);
                    }
                })
            })

            $('body').on('click', 'div.cote-res', function(){
                console.log($(this).val());
                $('#product_name').val($(this).html())
                $.ajax({
                    type: 'POST',
                    url: " {{ path('ajax-calcule-cote') }} ",
                    timeout: 3000,
                    data: "title=" + $(this).html(),
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        if(data.status === "ok"){
                            $('.cote').append('<p> COTE =' + data.cote  + '€</p>');
                        } else {
                            $('.search').append(data.erreur)
                        }
                    },
                    error: function(error){
                        console.log(error.responseText);
                    }
                })
            })

            $('#product_image').on('change', function(){
                console.log($(this).val());
                console.log($('#product_image').next());
                $('#product_image').next().html($(this).val());
            })

        })
    </script>
{% endblock %}