{% extends 'layout.html.twig' %}

{% block title %}Liste des Annonces{% endblock %}
{% block titlepage %}Liste des Annonces{% endblock %}

{% block content %}

    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} mt-4 col-4">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}


    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-4">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">

            {% for product in products %}
                {% if product.isvalidate == 1 %}
                
                    <div class="card col-3 listStyle">
                        <div class="card-body">
                            {% if product.image%}
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">
                            {% endif %}
                            <h5 class="card-title" style="color: #AC964A;">{{ product.name }}</h5><hr>
                            <p class="card-text" style="color: #AC964A;">{{ product.price }} €</p>

                            
                            <a href="{{ path('product', {id: product.id })}}" class="navbarColor01 btn text-warning">Voir</a>
                        </div>                        
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}