{% extends 'layout.html.twig' %}

{% block title %}{{ type.name|capitalize }}{% endblock %}

{% block content %}

    <div class="container">
        
        <h1 class="text-center">{{ type.name|capitalize }}</h1>

        <div class="row">

            {% for product in products %}
                {% if product.isvalidate == 1 %}

                    <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 450px;">
                        <div class="card-body">
                            {% if product.image%}
                            <div style="height: 243px;">
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">
                            </div>
                            {% endif %}
                        <div>
                            <h5 class="card-title text-warning" style="font-size: 1.5rem">{{ product.name }}</h5><hr>
                        </div>
                            <p class="card-text" style="color: white; font-size: 1.5rem">{{ product.price }} €</p>


                            <a href="{{ path('product', {id: product.id })}}" class="navbarColor01 btn text-warning col-12" style="bottom: 0; ">Voir</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(function() {
            $('.click-splitflap').splitFlap({
                image: '{{ asset('images/chars.png') }}',
                text:   '{{ products[0].type.dateflip|date("d/m/Y") }}',
                speed:          8,
                speedVariation: 2,
                autoplay:   true,
                onComplete: function () {
                    console.log('Done !');
                }
            })
        });
    </script>
{% endblock %}