{% extends 'layout.html.twig' %}

{% block title %}{{ type.name|capitalize }}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center"> Liste des {{ categorie.name ~ ' ' ~ type.name|capitalize }}</h1>
        <div class="row">

            {% for product in products %}
                {% if product.isvalidate == 1 %}

                    <div class="card col-md-3 mb-4 listStyle antipadding" style="position: relative; height: 400px;">
                    <div>
                        <h5 class="card-title font-weight-bold text-warning" style="color: #AC964A; position: absolute; text-align: center;"><strong>{{ product.name }}</strong></h5>
                    </div><hr>
                        <div class="card-body m-3">
                            {% if product.image%}
                            <div style="height: 243px;">
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">
                            </div>
                            {% endif %}
                        <div>
                            <p class="card-text" style="color: white; font-size: 1.5rem">Prix: {{ product.price }} €</p>
                        </div>

                        <div>
                            <a href="{{ path('product', {id: product.id })}}" class="navbarColor01 btn text-warning col-12" style="bottom: 0; ">Voir</a>
                        </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}