{% extends 'layout.html.twig' %}

{% block title %}Liste des Annonces{% endblock %}
{% block titlepage %}Liste des Annonces{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for product in products %}

                <div class="card col-3" style="width: 18rem;">
                    <div class="card-body">
                        {% if product.image%}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">
                        {% endif %}
                        <h5 class="card-title">{{ product.name }}</h5><hr>
                        <p class="card-text">{{ product.price }} €</p>


                        <a href="{{ path('product', {id: product.id })}}">Voir 👁️</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(function() {
            $('.click-splitflap').splitFlap({
                image: '{{ asset('images/chars.png') }}',
                text:   '{{ products[0].type.dateflip|date("d/m/Y") }}',
                speed:          8,
                speedVariation: 2,
                autoplay:   true,
                onComplete: function () {
                    console.log('Done !');
                }
            })
        });
    </script>
{% endblock %}