{% extends 'layout.html.twig' %}

{% block title %}{{ type.name|capitalize }}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center"> Liste des {{ categorie.name ~ ' ' ~ type.name|capitalize }}</h1>
        <div class="row">

            {% for product in products %}

                <div class="card col-3" style="width: 18rem;">
                    <h5 class="card-title" style="margin-top:15px;"><strong>{{ product.name }}</strong></h5><hr>
                    <div class="card-body">
                        {% if product.image%}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">
                        {% endif %}

                        <p class="card-text">Prix: {{ product.price }} €</p>


                        <a href="{{ path('product', {id: product.id })}}">Voir 👁️</a>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}