{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            {# équivalent twig de la boucle foreach #}
            {% for product in products %}

                {# à chaque tour de boucle, on récupère article qui ici est un objet
                 pour accéder au titre, article.title #}


                <div class="card col-4" style="width: 18rem;">
                    <div class="card-body">
                        {% if product.image%}
                            <img class="card-img-top" src="{{ asset(image_directory ~ product.image) }}" alt="Card image cap">
                        {% endif %}
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">Publié par {{ product.user.username}} le {{ product.datepubli|date('d-m-Y') }}</p>
                        <p class="card-text">{{ product.content }}</p>
                        <a href="{{ path('show', {id: product.id })}}">Voir 👁️</a>
                        <a href="{{ path('article-update', {id: product.id })}}">Modifier article✒️</a>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}
