{% extends 'layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ficheproduit.css') }}">
{% endblock %}

{% block title %}fiche-produit{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"> {{product.name}} </h1>
            <h5>Catégorie : {{product.categorie.name}} </h5>
            <h5>Qualité :
                {% if product.quality.name == "mib" %}
                    <i class="fas fa-star"></i>
                {% elseif product.quality.name == "occase" %}
                    <i class="fas fa-star-half-alt"></i>
                {% else %}
                    <i class="far fa-angry"></i>
                {% endif %}
            </h5>
            <h2 style="color: rgb(88, 184, 88)">{{product.price}} € </h2>
        </div>
        <div class="col-12 d-flex">
            <div class="col-md-8 text-center">
                {% if product.image %}
                    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " style="width:400px; height:400px" type="button" data-toggle="modal" data-target="#modalImage" class="btn btn-dark">
                {% endif %}
            </div>

            <div class="col-md-4 text-center">
                <div class="text-center description" style="width:auto; text-align:center; overflow:scroll">
                    <h5>Description du produit :</h5>
                    <p> {{product.description}} </p>

            <div class="col-12 d-flex">
                <div class="col-md-8 text-center">
                    {% if product.image %}
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " style="width:400px; height:400px" type="button" data-toggle="modal" data-target="#modalImage" class="btn btn-dark zoomin">
                    {% endif %}

                </div>

                <div class="col-6">
                    <h4> Vendeur: {{ product.user.username }}</h4>
                    <div id="contactUser">
                        {{ form_start(form) }}
                        {{ form_end(form) }}

                    </div>

            <div class="col-6">
                <h4> Vendeur: {{ product.user.username }}</h4>
                <div id="contactUser">
                    <button class="btn btn-primary mt-4" type="submit" id="contact">coucou</button>

                </div>
                <div class="resultat"></div>
            </div>
        </div>

        <div class="modal" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " style="max-width:1000px; max-height:600px">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% endblock %}

	{% block js %}
        <script>
            $(function() {

                $('#contact').on('click', function (e) {
                    event.preventDefault();
                    $('#contactUser').empty();

                    $('#contactUser').append('<form method="post">' + '<input id="message" class="form-control" type="textarea">' + '<button class="btn btn-primary mt-4" id="send">Envoyer message</button>' + '</form>')

                })

                $('body').on('click', '#send', function (e) {
                    e.preventDefault();
                    console.log('hello');
                    var data = "destinataire=" + {{ product.user.id }} +"&productid=" + {{ product.id }} +"&message=" + $('#message').val();
                    console.log(data)
                    $.ajax({
                        type: 'POST',
                        url: " {{ path('user-message') }} ",
                        timeout: 3000,
                        data: data,
                        dataType: 'html',
                        success: function (data) {
                            $('.resultat').append(data);
                        },
                        error: function (error) {
                            console.log(error.responseText);
                        }
                    })


                    $('#contactUser').append('<form method="post">' + '<input id="message" class="form-control" type="textarea">' + '<input hidden id="productid" value=" {{ product.id }} ">' + '<button class="btn btn-primary mt-4" id="send">Envoyer message</button>' + '</form>')

                })

                $('body').on('click', '#send', function (e) {
                    e.preventDefault();
                    var data = "message=" + $('#message').val();
                    var url = " {{ path('user-message' , {id : 0}) }} ",
                        url = url.replace('0', $('#productid').val())
                    console.log(data)
                    $.ajax({
                        type: 'POST',
                        url: url,
                        timeout: 3000,
                        data: data,
                        dataType: 'html',
                        success: function (data) {
                            $('.resultat').append(data);
                        },
                        error: function (error) {
                            console.log(error.responseText);
                        }
                    })

                })

            })


        {% endblock %}

