{% extends 'layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ficheproduit.css') }}">
{% endblock %}

{% block title %}fiche-produit{% endblock %}

{% block content %}

    <div class="container">
        <div class="card text-white bg-secondary mb-3 " >
            <div class="card-header text-warning font-weight-bold">
                <div class="row">
                    <span class="col-6">{{product.name}}</span>
                    <p class="card-text col-3 offset-3 text-warning" style="font-size: 20px;"><b>Prix: </b> {{product.price}} € </p>
                </div>
            </div>
            <div class="card-body text-center" >
                <div class="row">
                    <div class="col-md-4">
                        {% if product.image %}
                            <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " class="card-img-top text-center" style="max-width: 800px; max-height: 600px" type="button" data-toggle="modal" data-target="#modalImage" class="btn btn-dark zoomin">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <p style="font-size: 20px;" class="card-title col-4 text-warning"><b>Qualité : </b>
                                {% if product.quality.name == "mib" %}
                                    <i class="fas fa-star"> {{ product.quality.name }}</i>
                                {% elseif product.quality.name == "occase" %}
                                    <i class="fas fa-star-half-alt"> {{ product.quality.name }}</i>
                                {% else %}
                                    <i class="far fa-angry"> {{ product.quality.name }}</i>
                                {% endif %}
                            </p>


                                <p class="card-title col-5 text-warning " style="font-size: 20px;"><b>Vendeur: </b> {{ product.user.username }}</p>
                                <div id="contactUser" class="col-md-11 offset-1">
                                    <button class="btn btn-warning text-dark font-weight-bold mt-3" type="submit" id="contact">Contacter le vendeur</button>
                                </div>
                                <div class="resultat"></div>

                            <p class="col-md-3 text-warning mt-5 ml-1" style="font-size: 20px;"><b>Description: </b></p>
                            <p class="card-text col-12 text-warning mt-2" style="font-size: 15px; text-align: justify">{{product.description}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="modal" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=" {{product.name}} " style="max-width:1000px; max-height:600px">
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
{% endblock %}

        {% block js %}
            <script>
                $(function(){

                    $('#contact').on('click', function(e){
                        event.preventDefault();
                        $('#contactUser').empty();

                        $('#contactUser').append('<form method="post">'+'<input id="message" class="form-control" type="textarea">'+'<input hidden id="productid" value=" {{product.id}} ">'+'<button class="btn text-warning navbarColor01" id="send">Envoyer message</button>'+'</form>')
                    })

                    $('body').on('click', '#send', function(e){
                        e.preventDefault();

                        var data = "message=" + $('#message').val();
                        var url = " {{path('user-message' , {id : 0})}} ",
                            url = url.replace('0', $('#productid').val() )
                        console.log(data)
                        $.ajax({
                            type: 'POST',
                            url: url,
                            timeout: 3000,
                            data: data,
                            dataType: 'html',
                            success: function(data){

                                if(data != null){
                                    $('.resultat').append(data);
                                }

                            },
                            error: function(error){
                                console.log(error.responseText);
                            }
                        })

                    })

                    $('.click-splitflap').splitFlap({
                        image: '{{ asset('images/chars.png') }}',
                        text:   '{{ product.releasedate|date("d/m/Y") }}',
                        speed:          8,
                        speedVariation: 2,
                        autoplay:   true,
                        onComplete: function () {
                            console.log('Done !');
                        }
                    })

                })

            </script>
        {% endblock %}

