{% extends 'layout.html.twig' %}

{% block title %}fiche-produit{% endblock %}

{% block titlepage %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
    {% if product.image %}
        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt=""><br>{#~ sert à effectuer une concaténation#}
    {% endif %}
    Publié le: {{ product.datepost|date('d-m-Y') }}<br>
    Publié par: {{ product.user.username }}<br>
    <p class="btn btn-secondary">{{ product.description }}</p>
            </div>
            <div class="col-6">
                <h4> Vendeur: {{ product.user.username }}</h4>
                <a href="{{ path('product',{id:product.user.id }) }}" class="btn btn-info">Envoyer un message</a>
            </div>
        </div>
    </div>
    {# {{ dump(product) }} #}
{% endblock %}
