{% extends 'layout.html.twig' %}

{% block title %}fiche-produit{% endblock %}

{% block titlepage %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if product.image %}
                    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="">
                {% endif %}
                Publié le: {{ product.datepost|date('d-m-Y') }}<br>
                Publié par: {{ product.user.username }}<br>
                Etat: {{ product.quality.name }}<br>
                <span><b>Annonce</b></span><br>
                <p>{{ product.description }}</p>
            </div>

            <div class="col-6">
                <h4> Vendeur: {{ product.user.username }}</h4>
                <div id="contactUser">
                    <button class="btn btn-info" id="contact">Contacter le vendeur</button>
                </div>
            </div>
        </div>
    </div>
    {# {{ dump(product) }} #}
{% endblock %}

	{% block js %}
        <script>
            $(function(){
                $('#contact').on('click', function(e){
                    event.preventDefault();
                    $('#contactUser').empty();
                    $('#contactUser').append('<form method="post">'+'<input id="send" class="form-control" type="textarea">'+'<button class="btn btn-primary mt-4">Envoyer message</button>'+'</form>')

                })

                $('body').on('click', '#send', function(e){
                    e.preventDefault();

                    $.ajax({
                        type: 'post',
                        url: "{{ path('user-message') }}",
                        data: ,
                        timeout: 3000,
                        dataType: 'json',
                        success: function (data) {
                            $('#contactUser').empty();
                            $('#contactUser').append('<span>Message envoyé!</span')
                        }
                    })
                })

            })
        </script>
    {% endblock %}

