{# layout de base pour toutes les pages #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock%}</title>
    <!-- Boostrap.css -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- FontAwesome v5.x -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>
<body>
<!-- Header -->

<header>
    <div class="container-fluid head" id="head">

        <div class="row img-fluid">
            <div class="col-md-2">
                <div class="d-flex justify-content-start">
                    <a class="nav-link text-light"  href="{{ path('home') }}"><img src=" {{asset('images/logo.png')}} " ></a>
                </div>
            </div>
            <div class="col-md-10">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a  class="btn btn-dark text-warning mt-4 ml-2 log-btn navbarColor01" href="{{ path('logout') }}">Déconnexion</a>
                    <a class="btn btn-dark text-warning mt-4 mr-3 log-btn navbarColor01" href="{{ path('userProfil') }}">Profil</a>


                {% else %}
                    <a id="" class="btn btn-dark text-warning mt-4 log-btn mr-5 navbarColor01" href="{{ path('register') }}">Inscription</a>
                    <a id="" class="btn btn-dark text-warning mt-4 log-btn mr-3 navbarColor01" href="{{ path('login') }}">Connexion</a>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') %}

                    <a id="" class="btn btn-dark text-warning mt-4 mr-2 log-btn navbarColor01" href="{{ path('admin-users') }}">Gestion users</a>
                    <a id="" class="btn btn-dark text-warning mt-4 mr-2 log-btn navbarColor01" href="{{ path('validation-annonce') }}">Gestion des annonces</a>
                {% endif %}

            </div>
        </div>

    </div>



    <nav class="navbar navbar-expand-lg navbar-dark navbarColor01" id="" >

        <a class="navbar-brand text-light" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#"> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light"  href="{{ path('showAll') }}">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Retro
                    </a>
                    <div class="dropdown-menu navbarColor01 "  aria-labelledby="navbarDropdown" id="">
                        <a class="dropdown-item text-light hover-color"  href="{{ path('product-type', {type: 1}) }}">Tout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color"  href="{{ path('product-type-cat', {type: 1, cat:2})}}">Jeux</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color"   href="{{ path('product-type-cat', {type: 1, cat:1})}}">Consoles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 1, cat:3})}}">Accessoires</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Next-gen
                    </a>
                    <div class="dropdown-menu navbarColor01" id="" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light hover-color"  href="{{ path('product-type', {type: 2}) }}">Tout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href=" {{ path('product-type-cat', {type: 2, cat:2})}} ">Jeux</a>
                        <div class="dropdown-divider text-light"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 2, cat:1})}}">Consoles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 2, cat:3})}}">Accessoires</a>
                    </div>
                </li>                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Arcade
                    </a>

                    <div class="dropdown-menu navbarColor01" id="" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light hover-color"  href="{{ path('product-type', {type: 3}) }}">Tout</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 3, cat:2})}}">Jeux</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 3, cat:1})}}">Consoles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light hover-color" href="{{ path('product-type-cat', {type: 3, cat:3})}}">Accessoires</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="" class="nav-link text-light" href="{{ path('show-all') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('contact') }}">Contact</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('addProduct') }}">Postez votre annonce</a>
                    </li>
                {% endif %}

                <li class="nav_item">

                </li>


            </ul>

            {# bar de recherche #}




        </div>

        {{ render(controller('App\\Controller\\HomeController::searchBarHome' )) }}
    </nav>
    <div class="row justify-content-center compteur">
        <div class="click-splitflap my-3"></div>
    </div>

</header>

<!-- Content -->
<h1 class="col-md-4 offset-4">{% block titlepage %}{% endblock%}</h1>

<div class="container-fluid bodyback">

    {% block content %}{% endblock %}

</div><hr><br>



<!-- Footer -->
{#-------------------caroussel footer--------------------#}
<footer class="container-fluid mt-5 navbarColor01 " id="footer">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{asset('images/slider01.jpg')}} " alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('images/slider01.jpg')}} " alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('images/slider01.jpg')}} " alt="Third slide">
                </div>
            </div>
        </div>
{#-------------------caroussel footer--------------------#}
        <div class="col-md-6 d-flex justify-content-center">
            <div class=" py-3 mt-3 my-3">
                <h5>Informations :</h5>
                <p>
                    Now, Biff, um, can I assume that your insurance is gonna pay for the damage? I don't worry.
                    this is all wrong. I don't know what it is but when I kiss you, it's like kissing my brother.
                    I guess that doesn't make any sense, does it? You got a permit for that? Thank you, don't forget to take a flyer.
                    So you're my Uncle Joey. Better get used to these bars, kid.
                    You know, Doc, you left your equipment on all week. I followed you.
                    Yeah, you got my homework finished, McFly? I guess you guys aren't ready for that yet.
                </p>
            </div>
        </div>       
            <div class="col-md-6 links mt-5">
                <div class="row">
                    <div class="col-12 networks text-center">            
                            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-3x text-warning"></i></a>
                       
                            <a href="https://plus.google.com/discover" target="_blank"><i class="fab fa-google-plus-square fa-3x text-warning"></i></a>
                        
                            <a href="https://www.youtube.com/results?search_query=jeux+retro" target="_blank"><i class="fab fa-youtube fa-3x text-warning"></i></a><br><br>
                    </div>
                    <div class="col-12 text-center ">
                        <ul>                          
                            <a href="#" style="color: #ced9e5;">
                                <li>  
                                    Informations
                                </li>
                            </a>
                            <a href="/informations/cgv" style="color: #ced9e5;">
                                <li>
                                    Conditions d'utilisation
                                </li>
                            </a>
                            <a href="/informations/contact" style="color: #ced9e5;">
                                <li>
                                    Contact
                                </li>
                            </a>
                            <a href="/informations/adress" style="color: #ced9e5;">
                                <li>
                                    Adresse
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>                        

            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 border-primary">OCTOCOTE © 2018 Copyright:
        <a href="https://octocote.com/"> Octocote.com </a>
    </div>
    <!-- Copyright -->

</footer>

<!-- JQuery 3.3.1 -->
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Bootstrap.js -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/jquery.splitflap.js') }}"></script>
<script>
    $(function() {
        $('.click-splitflap').splitFlap({
            image: '{{ asset('images/chars.png') }}',
            text:   '{{ "now"|date("d/m/Y")  }}',
            speed:          8,
            speedVariation: 2,
            autoplay:   true,
            onComplete: function () {
                console.log('Done !');
            }
        })
    });

    $('a[href^="#"]').click(function(){
       var the_id = $(this).attr("href");$('html, body').animate({scrollTop:$(the_id).offset().top}, 'slow');//return false;
});
</script>




{% block js %}{% endblock %}

</body>
</html>