{% extends 'layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/infouser.css') }}">
{% endblock %}
{% block title %}Profil utilisateur{% endblock %}
{% block titlepage %} <h1 class="ml-3 " style="text-align: center; margin-bottom: 10px;">Profil de {{ user.username }}</h1>{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2 mb-3">

                <button class="btn navbarColor01 mt-1 text-warning " ><a class="text-warning" href="{{ path('updateUser',{id:user.id }) }}">Modifier Profil</a></button>
                <button class="btn navbarColor01 mt-1 text-warning load-annonce " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes annonces</button>
                <button class="btn navbarColor01 mt-1 text-warning load-message " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mes messages</button>
                <button class="btn navbarColor01 mt-1 " ><a href="#myModal" class="trigger-btn text-warning" data-toggle="modal"> Supprimer le compte</a></button>

            </div>

            <div class="col-md-7 text-center offset-1 formStyle p-3">
                <div class="row ">
                    <div class="col-md-12 text-center">

                        {% if user.profilepicture %}
                            <img src="{{ 'uploads/images/' ~ user.profilepicture }}" style="height: 150px; width: 150px" alt="profil picture"><br>
                        {% else %}
                            <img src="{{ asset('images/yoda.jpeg' ) }}" alt="profil-yoda" >
                        {% endif %}


                    </div>

                    <div class="col-md-12 text-center">
                        <div class="col-md-12" style="color: white">
                            <b class="text-warning"> Pseudo: </b>{{ user.username }}
                        </div>
                        <div class="col-md-12" style="color: white">
                            <b class="text-warning"> Email: </b>{{ user.email }}
                        </div>
                        <div class="col-md-12" style="color: white">
                            <b class="text-warning">Tel: </b>{{ user.tel }}
                        </div>
                        <div class="col-md-12" style="color: white">
                            <b class="text-warning"> Date de naissance: </b>{{ user.datebirth|date('d-m-Y') }}
                        </div>
                        <div class="col-md-12" style="color: white">
                            <b class="text-warning"> Ville: </b>{{ user.city }}
                        </div>
                    </div>


                </div>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

        <div class="row">

            <div class="col-12" id="result">

            </div>

        </div>
    </div>
    </div>
    {# DIV POUR LE MODAL DELETE#}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <h4 class="modal-title">Attention !</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p><b>Êtes-vous sûr de vouloir supprimer votre compte ?</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn navbarColor01" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger"><a style="color: #ffffff " href="{{ path('delete-user-profil', {id: user.id })}}">Supprimer</a></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function() {
            $('.load-message').on('click', function (e) {
                e.preventDefault();
                console.log('ok');
                $.ajax({
                    type: 'get',
                    url: "{{ path('message-user') }}",
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        $('#result').empty();
                        $('#result').html(data);
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })


            $('.load-annonce').on('click', function (e) {
                e.preventDefault();
                console.log('ok');
                $.ajax({
                    type: 'get',
                    url: "{{ path('annonce-user') }}",
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        $('#result').empty();
                        $('#result').html(data);
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })

            $('.click-splitflap').splitFlap({
                image: '{{ asset('images/chars.png') }}',
                text: '{{ user.datebirth|date('d-m-Y') }}',
                speed: 8,
                speedVariation: 2,
                autoplay: true,
                onComplete: function () {
                    console.log('Done !');
                }
            })

            {#suppression des messages en ajax#}
            $('body').on('click', '.delete-msg', function (e) {
                e.preventDefault();
                var url = " {{ path('message-delete' , {id : 0}) }} ",
                    url = url.replace('0', $(this).val())
                $.ajax({
                    type: 'get',
                    url: url,
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        console.log('done');
                        $('#result').empty();
                        $('#result').append(data);
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })

            {#suppression des produits en ajax#}
            $('body').on('click', '.delete-pdt', function (e) {
                e.preventDefault();
                var url = " {{ path('product-delete' , {id : 0}) }} ",
                    url = url.replace('0', $(this).val())
                $.ajax({
                    type: 'get',
                    url: url,
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        console.log('done');
                        $('#result').empty();
                        $('#result').append(data);
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })
        })

    </script>
{% endblock %}